Advanced Analytics
Assignment 1
Group 11
Peter Day

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.impute import SimpleImputer

# Column names
['client_id', 'homebanking_active', 'has_homebanking', 'has_insurance_21', 'has_insurance_23', 'has_life_insurance_fixed_cap', 'has_life_insurance_decreasing_cap', 'has_fire_car_other_insurance', 'has_personal_loan', 'has_mortgage_loan', 'has_current_account', 'has_pension_saving', 'has_savings_account', 'has_savings_account_starter', 'has_current_account_starter', 'bal_insurance_21', 'bal_insurance_23', 'cap_life_insurance_fixed_cap', 'cap_life_insurance_decreasing_cap', 'prem_fire_car_other_insurance', 'bal_personal_loan', 'bal_mortgage_loan', 'bal_current_account', 'bal_pension_saving', 'bal_savings_account', 'bal_savings_account_starter', 'bal_current_account_starter', 'visits_distinct_so', 'visits_distinct_so_areas', 'customer_since_all', 'customer_since_bank', 'customer_gender', 'customer_birth_date', 'customer_postal_code', 'customer_occupation_code', 'customer_self_employed', 'customer_education', 'customer_children', 'customer_relationship', 'target']


https://www.statology.org/pandas-rename-columns/

In [44]:
# csv data files are in a folder called data
file1 = "../data/train_month_1.csv"
file2 = "../data/train_month_2.csv"
file3 = "../data/train_month_3_with_target.csv"
files = [file3, file2, file1]
# https://stackoverflow.com/questions/68607106/creating-multiple-dataframes-using-for-loop-with-pandas
# my_dfs = {}
# for x in ['A', 'B', 'C']:
#     my_dfs[x] = pd.read_csv(r"C:\HSTS\OB\ODO\%s\test.csv" % x, delimiter=';')
# Then access the dataframes per key:
# my_dfs['A']

listnames = ['data3', 'data2', 'data1']
my_dfs = {}
for i in range(3):
    my_dfs[listnames[i]] = pd.read_csv(files[i])

In [45]:
# https://www.tutorialspoint.com/How-to-iterate-through-a-dictionary-in-Python
cols = ["customer_since_all", "customer_since_bank", "customer_birth_date"]
# for column in stu_df[['Name', 'Section']]:
# df[col] = pd.to_datetime(df[col])

# This converts the 3 time cols in the 3 dfs to datetime format then subtracts 'current date' to get time since
for k, v in my_dfs.items():
    print(k)
    for col in cols:
        v[col] = (pd.to_datetime('2018-03-01') - pd.to_datetime(v[col])).dt.days
        #v[col] = v[col].astype(int)
        
# if you run this more than once it gets confused, will have to start over by running the cell above too!

data3
data2
data1

In [46]:
data3 = my_dfs['data3']
data2 = my_dfs['data2']
data1 = my_dfs['data1']

In [47]:
# Rename columns with lag suffix
data3.columns = ['client_id', 'homebanking_active_l0', 'has_homebanking_l0', 'has_insurance_21_l0', 'has_insurance_23_l0', 'has_life_insurance_fixed_cap_l0', 'has_life_insurance_decreasing_cap_l0', 'has_fire_car_other_insurance_l0', 'has_personal_loan_l0', 'has_mortgage_loan_l0', 'has_current_account_l0', 'has_pension_saving_l0', 'has_savings_account_l0', 'has_savings_account_starter_l0', 'has_current_account_starter_l0', 'bal_insurance_21_l0', 'bal_insurance_23_l0', 'cap_life_insurance_fixed_cap_l0', 'cap_life_insurance_decreasing_cap_l0', 'prem_fire_car_other_insurance_l0', 'bal_personal_loan_l0', 'bal_mortgage_loan_l0', 'bal_current_account_l0', 'bal_pension_saving_l0', 'bal_savings_account_l0', 'bal_savings_account_starter_l0', 'bal_current_account_starter_l0', 'visits_distinct_so_l0', 'visits_distinct_so_areas_l0', 'customer_since_all_l0', 'customer_since_bank_l0', 'customer_gender_l0', 'customer_birth_date_l0', 'customer_postal_code_l0', 'customer_occupation_code_l0', 'customer_self_employed_l0', 'customer_education_l0', 'customer_children_l0', 'customer_relationship_l0', 'target']
data2.columns = ['client_id', 'homebanking_active_l1', 'has_homebanking_l1', 'has_insurance_21_l1', 'has_insurance_23_l1', 'has_life_insurance_fixed_cap_l1', 'has_life_insurance_decreasing_cap_l1', 'has_fire_car_other_insurance_l1', 'has_personal_loan_l1', 'has_mortgage_loan_l1', 'has_current_account_l1', 'has_pension_saving_l1', 'has_savings_account_l1', 'has_savings_account_starter_l1', 'has_current_account_starter_l1', 'bal_insurance_21_l1', 'bal_insurance_23_l1', 'cap_life_insurance_fixed_cap_l1', 'cap_life_insurance_decreasing_cap_l1', 'prem_fire_car_other_insurance_l1', 'bal_personal_loan_l1', 'bal_mortgage_loan_l1', 'bal_current_account_l1', 'bal_pension_saving_l1', 'bal_savings_account_l1', 'bal_savings_account_starter_l1', 'bal_current_account_starter_l1', 'visits_distinct_so_l1', 'visits_distinct_so_areas_l1', 'customer_since_all_l1', 'customer_since_bank_l1', 'customer_gender_l1', 'customer_birth_date_l1', 'customer_postal_code_l1', 'customer_occupation_code_l1', 'customer_self_employed_l1', 'customer_education_l1', 'customer_children_l1', 'customer_relationship_l1']
data1.columns = ['client_id', 'homebanking_active_l2', 'has_homebanking_l2', 'has_insurance_21_l2', 'has_insurance_23_l2', 'has_life_insurance_fixed_cap_l2', 'has_life_insurance_decreasing_cap_l2', 'has_fire_car_other_insurance_l2', 'has_personal_loan_l2', 'has_mortgage_loan_l2', 'has_current_account_l2', 'has_pension_saving_l2', 'has_savings_account_l2', 'has_savings_account_starter_l2', 'has_current_account_starter_l2', 'bal_insurance_21_l2', 'bal_insurance_23_l2', 'cap_life_insurance_fixed_cap_l2', 'cap_life_insurance_decreasing_cap_l2', 'prem_fire_car_other_insurance_l2', 'bal_personal_loan_l2', 'bal_mortgage_loan_l2', 'bal_current_account_l2', 'bal_pension_saving_l2', 'bal_savings_account_l2', 'bal_savings_account_starter_l2', 'bal_current_account_starter_l2', 'visits_distinct_so_l2', 'visits_distinct_so_areas_l2', 'customer_since_all_l2', 'customer_since_bank_l2', 'customer_gender_l2', 'customer_birth_date_l2', 'customer_postal_code_l2', 'customer_occupation_code_l2', 'customer_self_employed_l2', 'customer_education_l2', 'customer_children_l2', 'customer_relationship_l2']

In [48]:
# Join the 3 data frames into one.
data4 = data3.merge(data2, on='client_id', how='inner')
data_Nans = data4.merge(data1, on='client_id', how='inner')

In [49]:
# Impute missing values
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(data_Nans)
data = pd.DataFrame(data=imputer.transform(data_Nans), columns=data_Nans.columns)

In [83]:
data.customer_children_l0.unique()

array([0, 1], dtype=int64)

In [84]:
data.customer_relationship_l0.unique()

array(['couple', 'single'], dtype=object)

In [86]:
#df.edjefe.replace(to_replace=['no', 'yes'], value=[0, 1])
data.replace(to_replace=['no', 'mature', 'young', 'preschool', 'adolescent', 'grownup', 'onebaby', 'yes'],
             value=[0, 1, 1, 1, 1, 1, 1, 1], inplace=True)
data.replace(to_replace=['couple', 'single'], value=[1, 0], inplace=True)

In [87]:
# copy client_id and target to new df to merge with older data in data1 and data2
#target = data3[['client_id', 'target']].copy()
#data3 = data3.assign(date='2018-03')
#data2 = data2.assign(date='2018-02')
# merge target data
#data2 = pd.merge(data2, target, on='client_id')
#data1 = data1.assign(date='2018-01')
# merge target data
#data1 = pd.merge(data1, target, on='client_id')
# put all data into one df
#data = pd.concat([data1,data2, data3])
#data = data.sort_values('client_id')
data.shape

(63697, 116)

In [88]:
y = data3['target'].copy()

In [89]:
# https://www.statology.org/drop-column-pandas/
X = data.drop(columns='target', axis=1)
X = data.drop(columns='client_id', axis=1)
# scaler = StandardScaler()
# fit = scaler.fit(X)
# Z = fit.transform(X)

In [90]:
X.head(5)

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
0,0,0,0,0,0,0,1,0,0,1,...,12784.0,8613.0,1,27210,3630,9.0,0,0.0,0,1
1,1,1,0,0,0,0,0,0,0,1,...,424.0,424.0,1,8794,2460,9.0,0,3.0,1,1
2,1,1,0,0,0,0,1,0,0,1,...,13604.0,13604.0,2,29736,2660,9.0,0,3.0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,7152.0,1612.0,1,26114,6600,9.0,0,3.0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1946.0,1946.0,2,8004,8550,9.0,0,3.0,1,1

In [91]:
# Split data for training/validation, assuming balanced classes
# by default 75/25 split.  33 is a rndm seed - for reproducibility
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=33)

In [92]:
X_train.head()

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
41804,0,0,0,0,0,0,0,0,0,0,...,3315.0,3315.0,2,26206,2070,9.0,0,3.0,0,1
51011,1,1,0,0,0,0,0,0,1,1,...,2130.0,2130.0,1,12173,6640,4.0,1,2.0,0,1
48324,1,1,0,0,0,0,1,0,0,1,...,4838.0,4383.0,1,8429,3620,9.0,0,3.0,1,1
35601,0,0,0,0,0,0,0,0,0,0,...,4960.0,3957.0,1,26510,9620,9.0,0,3.0,0,1
44911,0,0,0,0,0,0,1,0,0,1,...,15034.0,15034.0,1,28733,2950,9.0,0,3.0,0,0

In [93]:
X_train.describe()
# this ignores columns that aren't purely numeric, including dates, but does include postal code

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
count,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,...,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000
mean,0.215440,0.281315,0.095098,0.009797,0.002721,0.112241,0.317173,0.041405,0.097798,0.501005,...,6773.060307,5815.081282,1.488131,20534.086913,5583.371452,8.786632,0.087143,2.860567,0.282969,0.801976
std,0.411132,0.449646,0.293353,0.098492,0.052095,0.315667,0.465380,0.199227,0.297044,0.500004,...,4167.273324,4049.305750,0.499864,7328.537478,3019.572113,1.093982,0.282048,0.811829,0.450446,0.398514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-214.000000,-214.000000,1.000000,6299.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3377.000000,2220.000000,1.000000,15003.000000,2660.000000,9.000000,0.000000,3.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,6726.000000,5599.000000,1.000000,20939.000000,4920.000000,9.000000,0.000000,3.000000,0.000000,1.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,9374.000000,8582.000000,2.000000,26541.000000,8750.000000,9.000000,0.000000,3.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,23070.000000,18322.000000,2.000000,56247.000000,9992.000000,9.000000,1.000000,6.000000,1.000000,1.000000

In [94]:
# try a RF fit
rf = RandomForestClassifier(max_depth=2, random_state=0)
rf.fit(X_train, y_train)
#rf.score(X_valid, y_valid)

RandomForestClassifier(max_depth=2, random_state=0)

In [95]:
rf.score(X_valid, y_valid)

0.9697331240188383