Advanced Analytics
Assignment 1
Group 11
Peter Day

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
# csv data files are in a folder called data
file = "../data/train_month_3_with_target.csv"
data3 = pd.read_csv(file)
X = data3.iloc[:,:-1] # drop last column
# scaler = StandardScaler()
# fit = scaler.fit(X)
# Z = fit.transform(X)
y = data3["target"].values.reshape(-1,1)

In [3]:
X.shape

(63697, 39)

In [4]:
# Split data for training/validation, assuming balanced classes
# by default 75/25 split.  33 is a rndm seed - for reproducibility
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=33)

In [5]:
X_train.head()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship
41804,aa02d4d743d1c82d9ebfd5c3d33b65c2,0,0,0,0,0,0,0,0,0,...,2009-02,2009-02,2,1946-06,2070,9.0,0,NaN,NaN,NaN
51011,d63731a743ac91ab00835e3383537f3b,1,1,0,0,0,0,0,0,1,...,2012-05,2012-05,1,1984-11,6640,4.0,0,2.0,no,couple
48324,db5a9896c833c39abaaa02148b32c924,1,1,0,0,0,0,1,0,0,...,2004-12,2006-03,1,1995-02,3620,9.0,0,3.0,mature,couple
35601,d21d298cc1a64984830ceac359e6760a,0,0,0,0,0,0,0,0,0,...,2004-08,2007-05,1,1945-08,9620,9.0,0,3.0,no,couple
44911,17f82331cdb57224d39b0941ac3234e2,0,0,0,0,0,0,1,0,0,...,1977-01,1977-01,1,1939-07,2950,9.0,0,3.0,NaN,single

In [6]:
X_train.describe()
# this ignores columns that aren't purely numeric, including dates, but does include postal code

,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,has_current_account,...,bal_savings_account,bal_savings_account_starter,bal_current_account_starter,visits_distinct_so,visits_distinct_so_areas,customer_gender,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education
count,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,...,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,46248.000000,47772.000000,12446.000000
mean,0.215440,0.281315,0.095098,0.009797,0.002721,0.112241,0.317173,0.041405,0.097798,0.501005,...,17819.577367,60.666290,31.410450,1.231495,1.042828,1.488131,5583.371452,8.779601,0.087520,2.464808
std,0.411132,0.449646,0.293353,0.098492,0.052095,0.315667,0.465380,0.199227,0.297044,0.500004,...,11717.337912,917.870616,424.880922,0.501967,0.225927,0.499864,3019.572113,1.111164,0.282598,1.522513
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-170.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8400.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2660.000000,9.000000,0.000000,2.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,15130.000000,0.000000,0.000000,1.000000,1.000000,1.000000,4920.000000,9.000000,0.000000,2.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,25430.000000,0.000000,0.000000,1.000000,1.000000,2.000000,8750.000000,9.000000,0.000000,3.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,50000.000000,24050.000000,19790.000000,7.000000,6.000000,2.000000,9992.000000,9.000000,1.000000,6.000000